<!-- campaign_page.html -->
{% extends 'base.html' %}

{% block title %}
    <title>Campaigns</title>
{% endblock %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

{% block content %}
    <style>
        /* Your CSS styles go here */
        .filter-menu {
            margin-bottom: 20px;
        }
    </style>

    <style>
        .contacts-info {
            margin-top: 10px; /* Adjust top margin */
            /* You can add other margin or padding properties as needed */
        }
    </style>

    <form method="post" action="{% url 'delete_selected_leads' %}">
        {% csrf_token %}

        <div class="ml-2">
            <!-- Form for selecting a campaign -->
            <div class="d-flex align-items-center">
                <div class="dropdown", style="margin-left: 10px;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="viewCampaignDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        View Specific Campaign
                    </button>
                    <div class="dropdown-menu" aria-labelledby="viewCampaignDropdown">
                        <!-- Dynamically populated campaign names -->
                        {% for campaign in distinct_campaigns %}
                            <a class="dropdown-item view-campaign" href="#">{{ campaign }}</a>
                        {% endfor %}
                    </div>
                </div>
                <button class="btn btn-info ml-3" id="viewAllButton">View All Campaigns</button>
                <div class="dropdown" style="margin-left: 10px;"> 
                    <button class="btn btn-success dropdown-toggle" type="button" id="launchCampaignDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Launch Campaign
                    </button>
                    <div class="dropdown-menu" aria-labelledby="launchCampaignDropdown">
                        <!-- Dynamically populated campaign names -->
                        {% for campaign in distinct_campaigns %}
                            <a class="dropdown-item launch-campaign" href="#">{{ campaign }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="dropdown" style="margin-left: 10px;"> 
                    <button class="btn btn-warning dropdown-toggle" type="button" id="pauseCampaignDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pause Campaign
                    </button>
                    <div class="dropdown-menu" aria-labelledby="pauseCampaignDropdown">
                        <!-- Dynamically populated campaign names -->
                        {% for campaign in distinct_campaigns %}
                            <a class="dropdown-item pause-campaign" href="#">{{ campaign }}</a>
                        {% endfor %}
                    </div>
                    <button id="refreshStatusButton" class="btn btn-primary">Refresh Campaign Status</button>
                </div>
            </div>

            <div class="mt-4">
                <h4>Campaign Status</h4>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                {% for campaign in distinct_campaigns %}
                                    <td class="smaller-text">
                                        <strong>{{ campaign }}</strong><br>
                                        <span id="{{ campaign }}_status"></span>
                                    </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

             <!-- Search Bar -->
             <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search...">
                </div>
            </div>
            
            <!-- Filter Menu -->
            <div class="filter-menu float-right mt-3">
                <label for="typeFilter">Type:</label>
                <select id="typeFilter">
                    <option value="">All</option>
                    {% for type in distinct_types %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
                <label for="companyFilter">Company:</label>
                <select id="companyFilter">
                    <option value="">All</option>
                    {% for company in distinct_companies %}
                        <option value="{{ company }}">{{ company }}</option>
                    {% endfor %}
                </select>
                <label for="locationFilter">Location:</label>
                <select id="locationFilter">
                    <option value="">All</option>
                    {% for location in distinct_locations %}
                        <option value="{{ location }}">{{ location }}</option>
                    {% endfor %}
                </select>
                <button id="applyFilterButton" class="btn btn-primary">Apply Filters</button>
                <button class="btn btn-danger" id="deleteLeadsButton" type="submit">Delete Leads</button>
            </div>

            <div id="campaignContent" class="mt-3">
                <h2>Leads</h2>
                <div id="campaignEmailsContainer">
                    <table class="table table-striped table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">
                                    <div class="text-center">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="selectAllCheckbox">
                                            <label class="custom-control-label" for="selectAllCheckbox"></label>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Company</th>
                                <th scope="col">Title</th>
                                <th scope="col">Type</th>
                                <th scope="col">Location</th>
                                <th scope="col">Campaign Name</th>
                            </tr>
                        </thead>
                        <tbody id="campaignEmailsTableBody">
                            <!-- Dynamic content for campaign emails -->
                            {% for email_entry in campaign_emails %}
                            <tr data-campaign="{{ email_entry.campaign_name }}">
                                <td>
                                    <div class="text-center">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input rowCheckbox" name="lead_ids" value="{{ email_entry.id }}" id="rowCheckbox{{ email_entry.id }}">
                                            <label class="custom-control-label" for="rowCheckbox{{ email_entry.id }}"></label>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ email_entry.first_name }}</td>
                                <td>{{ email_entry.last_name }}</td>
                                <td>{{ email_entry.email }}</td>
                                <td>{{ email_entry.company }}</td>
                                <td>{{ email_entry.title }}</td>
                                <td>{{ email_entry.type }}</td>
                                <td>{{ email_entry.location }}</td>
                                <td>{{ email_entry.campaign_name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Pagination container -->
                <div class="pagination-container">
                    <ul class="pagination justify-content-center">
                        <!-- Pagination will be dynamically generated here -->
                    </ul>
                </div>
            </div>
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            // Check or uncheck all checkboxes
            $("#selectAllCheckbox").change(function () {
                $(".rowCheckbox").prop('checked', $(this).prop("checked"));
            });
    
            // Individual checkbox click
            $(".rowCheckbox").change(function () {
                if (!$(this).prop("checked")) {
                    $("#selectAllCheckbox").prop("checked", false);
                }
            });
        });
        document.addEventListener("DOMContentLoaded", function() {
            const leads = document.querySelectorAll(".rowCheckbox");
            const viewMoreButton = document.getElementById("loadMoreButton");
            const leadsPerPage = 50;
            let currentPage = 1;
        
            function hideAllLeads() {
                leads.forEach((lead, index) => {
                    if (index >= leadsPerPage) {
                        lead.closest('tr').style.display = "none";
                    }
                });
            }
        
            hideAllLeads();
        
            function showLeads(pageNumber) {
                const startIndex = (pageNumber - 1) * leadsPerPage;
                const endIndex = startIndex + leadsPerPage;
        
                leads.forEach((lead, index) => {
                    if (index >= startIndex && index < endIndex) {
                        lead.closest('tr').style.display = "";
                    } else {
                        lead.closest('tr').style.display = "none";
                    }
                });
            }
        
            function updatePaginationUI(currentPage, totalPages) {
                const paginationContainer = document.querySelector('.pagination-container');
                paginationContainer.innerHTML = '';
            
                const paginationUL = document.createElement('ul');
                paginationUL.classList.add('pagination', 'justify-content-center');
            
                const startIndex = (currentPage - 1) * leadsPerPage + 1;
                const endIndex = Math.min(startIndex + leadsPerPage - 1, leads.length);
                const totalContacts = leads.length;
            
                const contactsRange = document.createElement('span');
                contactsRange.innerHTML = `Showing ${startIndex} - ${endIndex} of ${totalContacts} leads`;
                contactsRange.classList.add('contacts-range-info');
                paginationContainer.appendChild(contactsRange);
            
                const previousButton = document.createElement('li');
                previousButton.classList.add('page-item');
                previousButton.innerHTML = `<a class="page-link" href="#" data-page="${currentPage - 1}">Previous</a>`;
                if (currentPage === 1) {
                    previousButton.classList.add('disabled');
                }
                paginationUL.appendChild(previousButton);
            
                const maxPageButtonsToShow = 5; // Adjust the number of page buttons to show
                const startPage = Math.max(1, Math.min(currentPage - Math.floor(maxPageButtonsToShow / 2), totalPages - maxPageButtonsToShow + 1));
                const endPage = Math.min(startPage + maxPageButtonsToShow - 1, totalPages);
            
                // Display "1" and add ellipsis if needed
                const firstPageButton = document.createElement('li');
                firstPageButton.classList.add('page-item');
                firstPageButton.innerHTML = `<a class="page-link" href="#" data-page="1">1</a>`;
                if (startPage > 2) {
                    paginationUL.appendChild(firstPageButton);
                    if (startPage > 3) {
                        const ellipsis = document.createElement('li');
                        ellipsis.classList.add('page-item', 'disabled');
                        ellipsis.innerHTML = '<span class="page-link">...</span>';
                        paginationUL.appendChild(ellipsis);
                    }
                }
            
                // Display page numbers within the range
                for (let i = startPage; i <= endPage; i++) {
                    const pageButton = document.createElement('li');
                    pageButton.classList.add('page-item');
                    pageButton.innerHTML = `<a class="page-link" href="#" data-page="${i}">${i}</a>`;
                    if (i === currentPage) {
                        pageButton.classList.add('active');
                    }
                    paginationUL.appendChild(pageButton);
                }
            
                // Display "Last" and add ellipsis if needed
                const lastPageButton = document.createElement('li');
                lastPageButton.classList.add('page-item');
                lastPageButton.innerHTML = `<a class="page-link" href="#" data-page="${totalPages}">${totalPages}</a>`;
                if (endPage < totalPages - 1) {
                    if (endPage < totalPages - 2) {
                        const ellipsis = document.createElement('li');
                        ellipsis.classList.add('page-item', 'disabled');
                        ellipsis.innerHTML = '<span class="page-link">...</span>';
                        paginationUL.appendChild(ellipsis);
                    }
                    paginationUL.appendChild(lastPageButton);
                }
            
                const nextButton = document.createElement('li');
                nextButton.classList.add('page-item');
                nextButton.innerHTML = `<a class="page-link" href="#" data-page="${currentPage + 1}">Next</a>`;
                if (currentPage === totalPages) {
                    nextButton.classList.add('disabled');
                }
                paginationUL.appendChild(nextButton);
            
                paginationContainer.appendChild(paginationUL);
            
                paginationUL.querySelectorAll('a.page-link').forEach(link => {
                    link.addEventListener('click', function (event) {
                        event.preventDefault();
                        const pageNumber = parseInt(this.getAttribute('data-page'));
                        if (!isNaN(pageNumber)) {
                            currentPage = pageNumber;
                            showLeads(currentPage);
                            updatePaginationUI(currentPage, totalPages);
                            applyFilters(pageNumber);
                        }
                    });
                });
            
                // Disable previous and next buttons if there is only one page or fewer pages than the current page
                if (totalPages <= 1 || currentPage >= totalPages) {
                    nextButton.classList.add('disabled');
                }
                if (currentPage <= 1) {
                    previousButton.classList.add('disabled');
                }
            }
        
            function calculateTotalPages() {
                const totalLeads = leads.length;
                return Math.ceil(totalLeads / leadsPerPage);
            }
        
            const totalPages = calculateTotalPages();
            hideAllLeads();
            showLeads(currentPage);
            updatePaginationUI(currentPage, totalPages);        
            

            function initEventListeners() {

                function showLimitedItemsInViewCampaignDropdown() {
                    const dropdownItems = $('[aria-labelledby="viewCampaignDropdown"] .view-campaign');
                    const itemsToShow = 50;
                
                    dropdownItems.each(function (index) {
                        if (index < itemsToShow) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                }
            
                // Event listener for the dropdown to toggle the visibility of items
                $('#viewCampaignDropdown').on('click', function(event) {
                    event.preventDefault();
                    const campaignMenu = $('[aria-labelledby="viewCampaignDropdown"]');
                    if (!$(event.target).hasClass('view-campaign')) {
                        campaignMenu.toggleClass('show');
                        showLimitedItemsInViewCampaignDropdown();
                    }
                });
            
                // Event listener for clicking on individual campaigns in dropdown
                $('.view-campaign').on('click', function(event) {
                    event.preventDefault();
                    const campaign = $(this).text();
                    filterCampaignTable(campaign);
            
                    // Close dropdown after selecting a campaign
                    $('[aria-labelledby="viewCampaignDropdown"]').removeClass('show');
            
                    // Update the visibility of items and "Load More" button after selecting a campaign
                    showLimitedItemsInViewCampaignDropdown();
                });
            
                // Close dropdown if clicked outside of it or on a campaign
                $(document).on('click', function(event) {
                    const dropdownMenu = $('[aria-labelledby="viewCampaignDropdown"]');
                    if (!$(event.target).closest('#viewCampaignDropdown').length) {
                        dropdownMenu.removeClass('show');
                    }
                });
            
                $('#viewAllButton').on('click', function(event) {
                    event.preventDefault();
                    viewAllCampaigns();
                });
            
                $('#deleteLeadsButton').on('click', function(event) {
                    event.preventDefault();
                    deleteSelectedLeads();
                });
            }

            initEventListeners();

            // Global variable to store the selected campaign
            let globalSelectedCampaign = '';

            // Function to filter the campaign table based on the selected campaign
            function filterCampaignTable(campaignName) {
                const visibleRows = [];

                // Update the global selected campaign
                globalSelectedCampaign = campaignName;

                $('#campaignEmailsTableBody tr').each(function() {
                    const dataCampaign = $(this).attr('data-campaign');
                    if (dataCampaign === globalSelectedCampaign) {
                        visibleRows.push(this);
                    }
                });

                // Update the button text to the selected campaign
                $('#viewCampaignDropdown').text(globalSelectedCampaign);

                // Calculate total visible rows for the selected campaign
                const totalFilteredRows = visibleRows.length;
                const totalPages = Math.ceil(totalFilteredRows / leadsPerPage);

                // Reset pagination to the first page
                currentPage = 1;

                // Display a fixed number of items per page
                const startIndex = (currentPage - 1) * leadsPerPage;
                const endIndex = startIndex + leadsPerPage;
                const rowsToShow = visibleRows.slice(startIndex, endIndex);

                // Update the table rows
                $('#campaignEmailsTableBody tr').hide();
                $(rowsToShow).each(function () {
                    $(this).show();
                });

                // Update pagination UI based on the filtered rows
                updatePaginationUI(currentPage, totalPages);

                // Update the contacts range information
                const updatedTotalRows = rowsToShow.length;
                const updatedStartIndex = (currentPage - 1) * leadsPerPage + 1;
                const updatedEndIndex = Math.min(updatedStartIndex + leadsPerPage - 1, totalFilteredRows);
                const contactsRange = document.querySelector('.contacts-range-info');
                contactsRange.innerHTML = `Showing ${updatedStartIndex} - ${updatedEndIndex} of ${totalFilteredRows} leads`;
            }

            // Function to display all campaigns in the table
            function viewAllCampaigns() {
                const campaignTableBody = $('#campaignEmailsTableBody');
                const maxItems = 50;
                const tableRows = campaignTableBody.find('tr');
                
                // Show the first six rows and hide the rest
                tableRows.hide();
                
                for (let i = 0; i < maxItems; i++) {
                    $(tableRows[i]).show(); // Show the first six rows
                }
                
                const totalHiddenItems = tableRows.length - maxItems;
                
                // Reset dropdown text to default
                $('#viewCampaignDropdown').text('View Specific Campaign');

                // Calculate total pages after displaying all campaigns
                const totalPages = Math.ceil(tableRows.length / maxItems);

                // Update pagination UI after displaying all campaigns
                updatePaginationUI(1, totalPages); // Assuming that after showing all campaigns, the pagination should start at page 1
            }

            // Global variables to store filter criteria
            let globalSelectedType = '';
            let globalSelectedCompany = '';
            let globalSelectedLocation = '';

            function applyFilters() {
                // Get filter criteria from the dropdowns
                const selectedType = $('#typeFilter').val();
                const selectedCompany = $('#companyFilter').val();
                const selectedLocation = $('#locationFilter').val();

                // Update global filter criteria
                globalSelectedType = selectedType;
                globalSelectedCompany = selectedCompany;
                globalSelectedLocation = selectedLocation;

                let filteredLeads = [];

                // Iterate through all rows in the table
                $('#campaignEmailsTableBody tr').each(function () {
                    const type = $(this).find('td:nth-child(7)').text().trim();
                    const company = $(this).find('td:nth-child(5)').text().trim();
                    const location = $(this).find('td:nth-child(8)').text().trim();

                    // Check if the row matches the global filter criteria
                    if (
                        (globalSelectedType === '' || type === globalSelectedType) &&
                        (globalSelectedCompany === '' || company === globalSelectedCompany) &&
                        (globalSelectedLocation === '' || location === globalSelectedLocation)
                    ) {
                        filteredLeads.push(this);
                    }
                });

                // Hide all rows in the table
                $('#campaignEmailsTableBody tr').hide();

                const totalFilteredLeads = filteredLeads.length;
                const totalPages = Math.ceil(totalFilteredLeads / leadsPerPage);

                if (totalFilteredLeads > 0) {
                    // Calculate the current start and end index based on the current page
                    const currentPage = parseInt($('.pagination li.active a').attr('data-page'));
                    const startIndex = (currentPage - 1) * leadsPerPage + 1;
                    const endIndex = Math.min(startIndex + leadsPerPage - 1, totalFilteredLeads);

                    // Display the filtered leads within the current page range
                    const leadsToShow = filteredLeads.slice(startIndex - 1, endIndex);
                    $(leadsToShow).each(function () {
                        $(this).show();
                    });

                    // Update the pagination UI based on the filtered rows
                    updatePaginationUI(currentPage, totalPages);

                    // Update the contacts range information based on filtered leads
                    const contactsRange = document.querySelector('.contacts-range-info');
                    contactsRange.innerHTML = `Showing ${startIndex} - ${endIndex} of ${totalFilteredLeads} leads`;
                } else {
                    // If no filtered leads, update pagination and contacts range for an empty result set
                    updatePaginationUI(1, 0);

                    const contactsRange = document.querySelector('.contacts-range-info');
                    contactsRange.innerHTML = `No leads to display`;
                }
            }

            // Apply Filters button for the second table
            $('#applyFilterButton').on('click', function (event) {
                event.preventDefault();
                applyFilters(); // Apply filters when the 'Apply Filters' button is clicked
            });

            $(document).ready(function() {
                // Event listener for the Launch Campaign dropdown toggle
                $('#launchCampaignDropdown').on('click', function(event) {
                    event.preventDefault();
                    event.stopPropagation(); // Prevent the click event from propagating to the document body
                    const campaignMenu = $('[aria-labelledby="launchCampaignDropdown"]');
                    campaignMenu.toggleClass('show');
                });
            
                // Click event on the document body to hide the dropdown when clicking outside
                $(document.body).on('click', function(event) {
                    const campaignDropdown = $('#launchCampaignDropdown');
                    if (!campaignDropdown.is(event.target) && campaignDropdown.has(event.target).length === 0) {
                        $('[aria-labelledby="launchCampaignDropdown"]').removeClass('show');
                    }
                });
            
                // Event listener for launching a campaign from the dropdown
                $('.launch-campaign').click(function(event) {
                    event.preventDefault();
                    const selectedCampaign = $(this).text().trim();
                    launchCampaign(selectedCampaign);
                });
            });
            
            // Function to launch campaign
            function launchCampaign(selectedCampaign) {
                console.log('Selected campaign:', selectedCampaign);
                if (selectedCampaign) {
                    const confirmation = confirm('Are you sure you want to launch the campaign: ' + selectedCampaign + '?');
                    if (confirmation) {
                        // Send an AJAX request to launch the campaign
                        $.ajax({
                            type: 'POST',
                            url: '{% url "launch_campaign" %}', // Replace with your Django URL for launching campaigns
                            data: JSON.stringify({
                                'campaign_name': selectedCampaign, // Include the selected campaign name
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            }),
                            contentType: 'application/json',
                            success: function(response) {
                                // Handle success
                                alert('Campaign launched successfully');
                                // Additional actions after successful launch
                            },
                            error: function(error) {
                                // Handle error
                                console.error('Error launching campaign:', error);
                            }
                        });
                    } else {
                        // User clicked cancel, do nothing or perform additional action
                    }
                }
            }

            $(document).ready(function() {
                // Event listener for the Pause Campaign dropdown toggle
                $('#pauseCampaignDropdown').on('click', function(event) {
                    event.preventDefault();
                    event.stopPropagation(); // Prevent the click event from propagating to the document body
                    const campaignMenu = $('[aria-labelledby="pauseCampaignDropdown"]');
                    campaignMenu.toggleClass('show');
                });
            
                // Click event on the document body to hide the dropdown when clicking outside
                $(document.body).on('click', function(event) {
                    const campaignDropdown = $('#pauseCampaignDropdown');
                    if (!campaignDropdown.is(event.target) && campaignDropdown.has(event.target).length === 0) {
                        $('[aria-labelledby="pauseCampaignDropdown"]').removeClass('show');
                    }
                });
            
                // Event listener for pausing a campaign from the dropdown
                $('.pause-campaign').click(function(event) {
                    event.preventDefault();
                    const selectedCampaign = $(this).text().trim();
                    pauseCampaign(selectedCampaign);
                });
            });
            
            // Function to pause campaign
            function pauseCampaign(selectedCampaign) {
                console.log('Selected campaign to pause:', selectedCampaign);
                if (selectedCampaign) {
                    const confirmation = confirm('Are you sure you want to pause the campaign: ' + selectedCampaign + '?');
                    if (confirmation) {
                        // Send an AJAX request to pause the campaign
                        $.ajax({
                            type: 'POST',
                            url: '{% url "pause_campaign" %}', // Replace with your Django URL for pausing campaigns
                            data: JSON.stringify({
                                'campaign_name': selectedCampaign, // Include the selected campaign name
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            }),
                            contentType: 'application/json',
                            success: function(response) {
                                // Handle success
                                alert('Campaign paused successfully');
                            },
                            error: function(error) {
                                // Handle error
                                console.error('Error pausing campaign:', error);
                            }
                        });
                    } else {
                        // User clicked cancel, do nothing or perform additional action
                    }
                }
            }

            // Update Campaign Status Function
            function updateCampaignStatus(selectedCampaign) {
                const csrfToken = '{{ csrf_token }}'; // Fetch the CSRF token from Django template
                
                // AJAX request to fetch campaign status
                $.ajax({
                    type: 'POST',
                    url: '/get_campaign_status/', // Replace with your actual URL
                    data: JSON.stringify({
                        'campaign_name': selectedCampaign,
                        'csrfmiddlewaretoken': csrfToken // Pass CSRF token in the request
                    }),
                    contentType: 'application/json',
                    success: function(response) {
                        // On success, update the campaign status in the table
                        const campaignStatusElement = $(`#${selectedCampaign}_status`);
                        if (campaignStatusElement) {
                            campaignStatusElement.text(response.status); // Assuming 'status' holds the campaign status
                        }
                    },
                    error: function(error) {
                        console.error('Error fetching campaign status:', error);
                        // Handle error - Display error message or handle as needed
                    }
                });
            }

            // Function to fetch and display statuses for all campaigns in dropdown
            function fetchAllCampaignStatuses() {
                $('.view-campaign').each(function() {
                    const selectedCampaign = $(this).text().trim();
                    updateCampaignStatus(selectedCampaign); // Call update function for each campaign
                });
            }

            // Call the function to fetch and display statuses for all campaigns on page load
            $(document).ready(function() {
                fetchAllCampaignStatuses();
            });

            // Function to refresh the statuses for all campaigns
            function refreshCampaignStatuses() {
                fetchAllCampaignStatuses();
            }

            // Call the function to refresh campaign statuses on button click
            $(document).on('click', '#refreshStatusButton', function(event) {
                event.preventDefault(); // Prevent default form submission behavior
                refreshCampaignStatuses(); // Call the refresh function when the button is clicked
            });


            // Function to delete selected leads
            function deleteSelectedLeads() {
                const selectedEmails = [];
                let selectedCampaign = '';

                $('#campaignEmailsTableBody input:checked').each(function() {
                    const email = $(this).closest('tr').find('td:nth-child(4)').text().trim();
                    selectedEmails.push(email);

                    selectedCampaign = $(this).closest('tr').find('td:nth-child(9)').text().trim();
                    console.log(selectedCampaign);

                    $(this).closest('tr').remove(); // Remove the row from UI
                });

                // Ask for confirmation before deleting
                const confirmation = confirm('Are you sure you want to delete the selected leads?');
                if (confirmation) {
                    // Send an AJAX request to delete selected leads
                    $.ajax({
                        type: 'POST',
                        url: '{% url "delete_selected_leads" %}',
                        data: JSON.stringify({
                            'delete_list': selectedEmails, // Include the list of selected emails for deletion
                            'campaign_name': selectedCampaign,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        }),
                        contentType: 'application/json',
                        success: function(response) {
                            // Handle success
                            alert('Selected leads deleted successfully');
                            // Update pagination info
                        },
                        error: function(error) {
                            // Handle error
                            console.error('Error deleting leads:', error);
                        }
                    });
                } else {
                    // User clicked cancel, do nothing or perform additional action
                }
            }
            // Search functionality
            $('#searchInput').on('keyup', function() {
                const searchText = $(this).val().toLowerCase();
                const visibleRows = [];

                $('#campaignEmailsTableBody tr').each(function() {
                    const rowData = $(this).text().toLowerCase();
                    if (rowData.includes(searchText)) {
                        visibleRows.push(this);
                    }
                });

                // Calculate total pages after filtering
                const totalFilteredRows = visibleRows.length;
                const totalPages = Math.ceil(totalFilteredRows / leadsPerPage);

                // Reset pagination to the first page when search text is cleared
                if (searchText === '') {
                    currentPage = 1;
                }

                // Display a fixed number of items per page
                const startIndex = (currentPage - 1) * leadsPerPage;
                const endIndex = startIndex + leadsPerPage;
                const rowsToShow = visibleRows.slice(startIndex, endIndex);

                // Update the table rows
                $('#campaignEmailsTableBody tr').hide();
                $(rowsToShow).each(function () {
                    $(this).show();
                });

                // Update pagination UI based on filtered rows
                updatePaginationUI(currentPage, totalPages);

                // Update the contacts range information
                const updatedTotalRows = rowsToShow.length;
                const updatedStartIndex = (currentPage - 1) * leadsPerPage + 1;
                const updatedEndIndex = Math.min(updatedStartIndex + leadsPerPage - 1, totalFilteredRows);
                const contactsRange = document.querySelector('.contacts-range-info');
                contactsRange.innerHTML = `Showing ${updatedStartIndex} - ${updatedEndIndex} of ${totalFilteredRows} leads`;
            });
        });
    </script>
{% endblock %}
