{% extends 'base.html' %}

{% block title %}
    <title>Contact List</title>
{% endblock %}

{% block content %}
    <!-- Upload CSV Form -->
    <h2>Upload CSV</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'upload_csv' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="csvFile">Choose CSV File:</label>
            <div class="input-group col-md-6">
                <input type="text" class="form-control" id="selectedFileName" readonly>
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" id="chooseFileButton">Choose File</button>
                </div>
            </div>
            <input type="file" class="form-control-file" id="csvFile" name="csv_file" style="display: none;">
        </div>
        <button type="submit" class="btn btn-primary" style="display: none;" id="uploadButton">Upload</button>
    </form>

    <div class="d-flex justify-content-end mt-3 mb-3">
        <!-- Button at the top right to send selected contacts to the "Leads" page -->
        <button id="performActionSendContacts" class="btn btn-secondary" data-action="send_contacts">Upload Leads</button>
    </div>
    <!-- Filter Menu -->
    <div class="filter-menu float-right">
        <h4>Filter Contacts</h4>
        <label for="typeFilter">Type:</label>
        <select id="typeFilter">
            <option value="">All</option>
            {% for type in distinct_types %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
        <label for="companyFilter">Company:</label>
        <select id="companyFilter">
            <option value="">All</option>
            {% for company in distinct_companies %}
                <option value="{{ company }}">{{ company }}</option>
            {% endfor %}
        </select>
        <label for="locationFilter">Location:</label>
        <select id="locationFilter">
            <option value="">All</option>
            {% for location in distinct_locations %}
                <option value="{{ location }}">{{ location }}</option>
            {% endfor %}
        </select>
        <label for="levelFilter">Level:</label>
        <select id="levelFilter">
            <option value="">All</option>
            {% for level in distinct_levels %}
                <option value="{{ level }}">{{ level }}</option>
            {% endfor %}
        </select>
        <button id="applyFilterButton" class="btn btn-primary">Apply Filters</button>
    </div>

    <hr> <!-- Add a horizontal line as a separator -->

    
    <h1>Contact List</h1>

    <!-- Display Contacts -->
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAllCheckbox">
                </th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Company</th>
                <th>Type</th>
                <th>Location</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody id="contactTableBody">
            {% for contact in contacts %}
                <tr class="contact-row" data-id="{{ contact.id }}">
                    <td>
                        <input type="checkbox" class="contact-checkbox" value="{{ contact.id }}">
                    </td>
                    <td>{{ contact.first_name }} {{ contact.last_name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.company }}</td>
                    <td>{{ contact.type }}</td>
                    <td>{{ contact.location }}</td>
                    <td>{{ contact.level }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <button id="viewMoreButton" class="btn btn-primary">View More</button>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const chooseFileButton = document.getElementById("chooseFileButton");
            const uploadButton = document.getElementById("uploadButton");
            const fileInput = document.getElementById("csvFile");

            chooseFileButton.addEventListener("click", function() {
                fileInput.click(); // Simulate click on the file input
            });

            fileInput.addEventListener("change", function() {
                const fileName = fileInput.value.split("\\").pop(); // Extract the file name
                document.getElementById("selectedFileName").value = fileName; // Display the file name in the text input
                uploadButton.style.display = "block"; // Show the upload button once a file is chosen
            });

            const contacts = document.querySelectorAll(".contact-row");
            for (let i = 10; i < contacts.length; i++) {
                contacts[i].style.display = "none";
            }

            const viewMoreButton = document.getElementById("viewMoreButton");
            viewMoreButton.addEventListener("click", function() {
                for (let i = 10; i < contacts.length; i++) {
                    if (contacts[i].style.display === "none") {
                        contacts[i].style.display = "";
                    } else {
                        break;
                    }
                }
            });

            const selectAllCheckbox = document.getElementById("selectAllCheckbox");
            const contactCheckboxes = document.querySelectorAll('.contact-checkbox');

            selectAllCheckbox.addEventListener("change", function() {
                contactCheckboxes.forEach(checkbox => {
                    checkbox.checked = selectAllCheckbox.checked;
                });
            });

            function retrieveStoredContacts() {
                const storedContactIds = sessionStorage.getItem('selectedContacts');
                if (storedContactIds) {
                    const contactIds = JSON.parse(storedContactIds);
                    contactIds.forEach(contactId => {
                        const checkbox = document.querySelector(`.contact-checkbox[value="${contactId}"]`);
                        if (checkbox) {
                            checkbox.checked = true;
                        }
                    });
                }
            }
            
            function getStoredContactsQueryString() {
                const storedContactIds = sessionStorage.getItem('selectedContacts');
                if (storedContactIds) {
                    const contactIds = JSON.parse(storedContactIds);
                    return `?selected_contacts=${contactIds.join(',')}`;
                }
                return '';
            }
            
            // On initial page load, modify the URL for leads if there are stored contacts
            document.addEventListener("DOMContentLoaded", function() {
                const storedContactsQuery = getStoredContactsQueryString();
                if (storedContactsQuery) {
                    history.replaceState(null, '', `/leads/${storedContactsQuery}`);
                }
            });
            
            const performActionSendContacts = document.getElementById("performActionSendContacts");
            performActionSendContacts.addEventListener("click", function(event) {
                event.preventDefault();
                const selectedContacts = document.querySelectorAll('.contact-checkbox:checked');
                const contactIds = Array.from(selectedContacts).map(checkbox => checkbox.value);
            
                if (contactIds.length === 0) {
                    console.log("No contacts selected to upload to leads.");
                    return;
                }
            
                // Store selected contact IDs in session storage
                sessionStorage.setItem('selectedContacts', JSON.stringify(contactIds));
            
                // Redirect to the "Leads" page with selected contact IDs as parameters
                window.location.href = `/leads/?selected_contacts=${contactIds.join(',')}`;
            });
            
            const applyFilterButton = document.getElementById("applyFilterButton");
            applyFilterButton.addEventListener("click", function() {
                const typeFilter = document.getElementById("typeFilter").value;
                const companyFilter = document.getElementById("companyFilter").value;
                const locationFilter = document.getElementById("locationFilter").value;
                const levelFilter = document.getElementById("levelFilter").value;

                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                fetch('/contact/filter/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': csrfToken
                    },
                    body: `csrfmiddlewaretoken=${csrfToken}&type=${typeFilter}&company=${companyFilter}&location=${locationFilter}&level=${levelFilter}`
                })
                .then(response => response.json())
                .then(data => {
                    const contactTableBody = document.getElementById("contactTableBody");
                    contactTableBody.innerHTML = "";

                    if (data.contacts.length === 0) {
                        contactTableBody.innerHTML = '<tr><td colspan="8">No contacts found.</td></tr>';
                    } else {
                        data.contacts.forEach(contact => {
                            contactTableBody.innerHTML += `
                                <tr class="contact-row" data-id="${contact.id}">
                                    <td>
                                        <input type="checkbox" class="contact-checkbox" value="${contact.id}">
                                    </td>
                                    <td>${contact.first_name} ${contact.last_name}</td>
                                    <td>${contact.email}</td>
                                    <td>${contact.phone}</td>
                                    <td>${contact.company}</td>
                                    <td>${contact.type}</td>
                                    <td>${contact.location}</td>
                                    <td>${contact.level}</td>
                                </tr>`;
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
{% endblock %}
