{% extends 'base.html' %}

{% block title %}
    <title>Follow-Up Networking - Home</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>Welcome to Follow-Up Networking!</h2>
            <p>
                Follow-Up is a startup that helps students automate their job search and application, streamline networking,
                and receive the best technical and behavioral interview training in the world. Primarily by early career
                professionals for early career professionals.
            </p>
        </div>
    </div>
{% endblock %}
